Repository fabienbrocklesby/Fullstack-Web-Marketing-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: enhance holiday badge with new styles and animations
  frontend/src/pages/index.astro
  frontend/src/styles/app.css
Due: pnpm dlx prettier@^3 --write

feat: update Countdown component for responsive display and styling
  frontend/src/pages/index.astro
Due: none

feat: add responsive styles for holiday decorations
  frontend/src/styles/app.css
Due: pnpm dlx prettier@^3 --write

feat: update Dockerfiles to include git and modify entrypoint scripts for dependency installation
  Dockerfile.backend.dev
  Dockerfile.frontend.dev
  docker/dev/entrypoint.backend.sh
  docker/dev/entrypoint.frontend.sh
  frontend/.astro/types.d.ts
  frontend/src/pages/index.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: implement holiday mailing list signup feature with popup and API integration
  backend/config/bootstrap.js
  backend/src/api/mailing-list-signup/content-types/mailing-list-signup/schema.json
  backend/src/api/mailing-list-signup/controllers/mailing-list-signup.js
  backend/src/api/mailing-list-signup/routes/mailing-list-signup.js
  backend/types/generated/contentTypes.d.ts
  frontend/src/pages/index.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: update fallback version to 'latest' in DownloadButtons, optimize logo rendering in Footer, enable Clarity script conditionally in Layout, and add popup delay for mailing list in index
  frontend/src/components/DownloadButtons.astro
  frontend/src/components/Footer.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/index.astro
Due: none

feat: update download links for macOS to use specific DMG files and rename identifiers
  frontend/src/components/DownloadButtons.astro
Due: none

feat: implement holiday and new year sale logic with countdown, pricing updates, and UI enhancements
  frontend/.astro/data-store.json
  frontend/.astro/settings.json
  frontend/src/data/pricing.ts
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
  frontend/src/utils/sale-dates.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Replace New Year's Sale with Founders Lifetime messaging
  frontend/src/components/HolidayDecor.astro
  frontend/src/data/pricing.ts
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
  frontend/src/styles/app.css
  frontend/src/utils/sale-dates.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: clean up code formatting in data-store, index, and pricing pages
  frontend/.astro/data-store.json
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx prettier@^3 --write

feat: add LinkedIn follow link to Footer and contact page
  frontend/.astro/types.d.ts
  frontend/src/components/Footer.astro
  frontend/src/pages/contact.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Implement code changes to enhance functionality and improve performance
  README.md
  frontend/public/NotRoundedLogo.png
  frontend/src/layouts/Layout.astro
  frontend/src/pages/blog/[slug].astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx prettier@^3 --write

docs: add canonical licensing portal current state
  docs/licensing-portal-current-state.md
Due: pnpm dlx prettier@^3 --write

chore: docker must-pass checks
  Makefile
  scripts/check-env.sh
Due: none

security: lock down sensitive endpoints
  backend/config/middlewares.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/customer/routes/customer.js
  backend/src/middlewares/admin-internal.js
  backend/src/middlewares/auth-rate-limit.js
  backend/src/middlewares/dev-only.js
  backend/src/middlewares/license-rate-limit.js
  backend/src/middlewares/rate-limit.js
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add device and entitlement management APIs
  .dockerignore
  Makefile
  README.md
  backend/.dockerignore
  backend/scripts/backfill-entitlements.js
  backend/scripts/fix-founders-tier.js
  backend/scripts/sanity-stage2.js
  backend/src/api/custom/controllers/custom.js
  backend/src/api/customer/content-types/customer/schema.json
  backend/src/api/customer/controllers/customer.js
  backend/src/api/customer/routes/customer.js
  backend/src/api/device/content-types/device/schema.json
  backend/src/api/device/controllers/device.js
  backend/src/api/device/routes/device.js
  backend/src/api/device/services/device.js
  backend/src/api/entitlement/content-types/entitlement/schema.json
  backend/src/api/entitlement/controllers/entitlement.js
  backend/src/api/entitlement/routes/entitlement.js
  backend/src/api/entitlement/services/entitlement.js
  backend/src/api/license-key/content-types/license-key/schema.json
  backend/src/api/license-portal/controllers/license-portal.js
  backend/src/api/license-portal/routes/license-portal.js
  backend/src/api/license/content-types/license/schema.json
  backend/src/api/license/controllers/license.js
  backend/src/api/license/routes/license.js
  backend/src/utils/entitlement-mapping.js
  backend/src/utils/jwt-keys.js
  backend/types/generated/contentTypes.d.ts
  docker-compose.dev.yml
  docs/licensing-portal-current-state.md
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: Enhance BuyButton component for subscription support and add tier selection
  Makefile
  README.md
  backend/config/middlewares.js
  backend/scripts/dedupe-entitlements.js
  backend/scripts/sanity-stage3.js
  backend/src/api/custom/controllers/custom.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/customer/controllers/customer.js
  backend/src/api/customer/routes/customer.js
  backend/src/api/entitlement/content-types/entitlement/schema.json
  backend/src/api/purchase/content-types/purchase/schema.json
  backend/src/api/stripe-event/content-types/stripe-event/schema.json
  backend/src/api/stripe-event/controllers/stripe-event.js
  backend/src/api/stripe-event/routes/stripe-event.js
  backend/src/api/stripe-event/services/stripe-event.js
  backend/src/middlewares/stripe-raw-body.js
  backend/src/utils/entitlement-mapping.js
  backend/src/utils/stripe-pricing.js
  backend/src/utils/stripe-webhook-handler.js
  backend/types/generated/contentTypes.d.ts
  docs/licensing-portal-current-state.md
  frontend/.astro/types.d.ts
  frontend/src/components/BuyButton.astro
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/customer/success.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: Implement out-of-order protection and unified subscription update logic in Stripe webhook handler
  backend/src/utils/stripe-webhook-handler.js
  docs/licensing-portal-current-state.md
  frontend/src/pages/customer/dashboard.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: Enhance device management and activation API
  .gitignore
  backend/src/api/custom/controllers/custom.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/device/content-types/device/schema.json
  backend/src/utils/audit-logger.js
  backend/types/generated/contentTypes.d.ts
  docs/api/http/.env.example
  docs/api/http/00-login.http
  docs/api/http/10-entitlements.http
  docs/api/http/30-activation-stage4.http
  docs/api/http/40-rate-limit-check.http
  docs/api/http/README.md
  docs/api/http/stage4-smoke-test.sh
  docs/api/http/use-local-env.sh
  docs/licensing-portal-current-state.md
  frontend/src/pages/customer/dashboard.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add offline challenge functionality for replay protection
  backend/.env.example
  backend/src/api/custom/controllers/custom.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/customer/controllers/customer.js
  backend/src/api/customer/routes/customer.js
  backend/src/api/offline-challenge/content-types/offline-challenge/schema.json
  backend/src/api/offline-challenge/controllers/offline-challenge.js
  backend/src/api/offline-challenge/routes/offline-challenge.js
  backend/src/api/offline-challenge/services/offline-challenge.js
  backend/src/utils/audit-logger.js
  backend/src/utils/lease-token.js
  backend/types/generated/contentTypes.d.ts
  docs/licensing-portal-current-state.md
  frontend/src/pages/customer/dashboard.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Add Stage 4 and Stage 5 API documentation and smoke tests for device activation and lease management
  .github/agents/Light Lane Website Agent.agent.md
  Makefile
  README.md
  backend/config/database.js
  backend/scripts/migrate-legacy-keys-to-entitlements.cjs
  backend/scripts/seed-smoke-test-data.js
  backend/src/api/custom/controllers/custom.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/customer/controllers/customer.js
  backend/src/api/license-key/controllers/license-key.js
  backend/src/api/license-key/routes/license-key.js
  docs/api/http/.env.example
  docs/api/http/00-login.http
  docs/api/http/10-entitlements.http
  docs/api/http/30-activation-stage4.http
  docs/api/http/40-rate-limit-check.http
  docs/api/http/README.md
  docs/api/http/seed-test-customer.sh
  docs/api/http/shared/entitlements.http
  docs/api/http/shared/login.http
  docs/api/http/stage4-smoke-test.sh
  docs/api/http/stage4/activation.http
  docs/api/http/stage4/rate-limit.http
  docs/api/http/stage4/smoke-test.sh
  docs/api/http/stage5/lease-refresh.http
  docs/api/http/stage5/legacy-retired.http
  docs/api/http/stage5/offline-refresh.http
  docs/api/http/stage5/smoke-test.sh
  docs/api/http/use-local-env.sh
  docs/licensing-portal-current-state.md
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/license-portal.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: enhance error handling for offline refresh and remove legacy activation methods
  backend/src/api/custom/controllers/custom.js
  docs/licensing-portal-current-state.md
  frontend/src/pages/customer/dashboard.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: standardize API response shapes and error handling for licensing endpoints
  backend/src/api/custom/controllers/custom.js
  backend/src/api/customer/controllers/customer.js
  backend/src/api/license-key/controllers/license-key.js
  backend/src/middlewares/rate-limit.js
  backend/src/utils/api-responses.js
  docs/api/http/stage5/smoke-test.sh
  docs/licensing-portal-current-state.md
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Add customer profile and success pages with functionality for profile updates and purchase status polling
  backend/src/api/custom/controllers/custom.js
  backend/src/api/customer/controllers/customer.js
  backend/src/utils/stripe-webhook-handler.js
  docs/licensing-portal-current-state.md
  frontend/.astro/settings.json
  frontend/src/components/icons/Icon.astro
  frontend/src/layouts/PortalLayout.astro
  frontend/src/lib/portal/api.ts
  frontend/src/lib/portal/auth.ts
  frontend/src/lib/portal/types.ts
  frontend/src/pages/customer/dashboard-old.astro
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/customer/profile-old.astro
  frontend/src/pages/customer/profile.astro
  frontend/src/pages/customer/success-old.astro
  frontend/src/pages/customer/success.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add comprehensive Offline Model Specification to licensing portal documentation
  docs/licensing-portal-current-state.md
Due: pnpm dlx prettier@^3 --write

Add comprehensive tests for offline-codes utilities
  .gitignore
  Makefile
  backend/scripts/generate-device-setup-code.js
  backend/scripts/generate-request-codes.js
  backend/scripts/generate-test-vectors.js
  backend/src/api/custom/controllers/custom.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/offline-code-use/content-types/offline-code-use/schema.json
  backend/src/api/offline-code-use/controllers/offline-code-use.js
  backend/src/api/offline-code-use/routes/offline-code-use.js
  backend/src/api/offline-code-use/services/offline-code-use.js
  backend/src/utils/api-responses.js
  backend/src/utils/audit-logger.js
  backend/src/utils/offline-codes.js
  backend/tests/offline-codes.test.js
  backend/types/generated/contentTypes.d.ts
  docs/licensing-portal-current-state.md
  frontend/src/pages/customer/dashboard.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: enhance customer dashboard with pagination for plans and devices
  docs/licensing-portal-current-state.md
  frontend/.astro/types.d.ts
  frontend/src/pages/customer/dashboard.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add customer dashboard module with state management, DOM utilities, and modals
  docs/licensing-portal-current-state.md
  frontend/src/components/DownloadModal.astro
  frontend/src/components/customer/dashboard/ActivationChecklist.astro
  frontend/src/components/customer/dashboard/AdvancedDevicesTable.astro
  frontend/src/components/customer/dashboard/AirGappedSection.astro
  frontend/src/components/customer/dashboard/DashboardIcon.astro
  frontend/src/components/customer/dashboard/DashboardModals.astro
  frontend/src/components/customer/dashboard/DevicesCard.astro
  frontend/src/components/customer/dashboard/HeroSection.astro
  frontend/src/components/customer/dashboard/PlansCard.astro
  frontend/src/components/customer/dashboard/index.ts
  frontend/src/components/customer/shared/ResponsiveBadge.astro
  frontend/src/layouts/PortalLayout.astro
  frontend/src/lib/customer/dashboard/airgapped.ts
  frontend/src/lib/customer/dashboard/badge.ts
  frontend/src/lib/customer/dashboard/billing.ts
  frontend/src/lib/customer/dashboard/checklist.ts
  frontend/src/lib/customer/dashboard/data.ts
  frontend/src/lib/customer/dashboard/devicesOverview.ts
  frontend/src/lib/customer/dashboard/devicesTable.ts
  frontend/src/lib/customer/dashboard/dom.ts
  frontend/src/lib/customer/dashboard/hero.ts
  frontend/src/lib/customer/dashboard/icons.ts
  frontend/src/lib/customer/dashboard/index.ts
  frontend/src/lib/customer/dashboard/init.ts
  frontend/src/lib/customer/dashboard/modals.ts
  frontend/src/lib/customer/dashboard/plans.ts
  frontend/src/lib/customer/dashboard/state.ts
  frontend/src/lib/customer/dashboard/tabs.ts
  frontend/src/lib/portal/types.ts
  frontend/src/pages/customer/dashboard-old.astro
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/customer/download.astro
  frontend/src/pages/customer/profile-old.astro
  frontend/src/pages/customer/success-old.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: Add comprehensive app integration reference document and fix offline provisioning entitlement dropdown bug
  docs/api/http/stage5/smoke-test.sh
  docs/app-integration-reference.md
  docs/licensing-portal-current-state.md
  frontend/src/components/customer/dashboard/AirGappedSection.astro
  frontend/src/components/customer/dashboard/DashboardModals.astro
  frontend/src/lib/customer/dashboard/airgapped.ts
  frontend/src/lib/customer/dashboard/data.ts
  frontend/src/lib/customer/dashboard/init.ts
  frontend/src/lib/customer/dashboard/state.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: Implement offline provisioning eligibility checks and enhance UI for entitlement selection
  docs/api/http/stage5/smoke-test.sh
  docs/licensing-portal-current-state.md
  frontend/.astro/types.d.ts
  frontend/src/components/customer/dashboard/AirGappedSection.astro
  frontend/src/lib/customer/dashboard/airgapped.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: Add Easter Egg component with modal and trigger functionality
  frontend/src/components/EasterEgg.astro
  frontend/src/pages/index.astro
Due: none

feat: add trial management features and UI updates
  Makefile
  backend/package.json
  backend/scripts/dev-purge-customers.js
  backend/src/api/custom/controllers/custom.js
  backend/src/api/custom/routes/custom.js
  backend/src/api/customer/controllers/customer.js
  backend/src/api/entitlement/content-types/entitlement/schema.json
  backend/src/utils/api-responses.js
  backend/src/utils/entitlement-mapping.js
  backend/src/utils/offline-codes.js
  backend/src/utils/stripe-webhook-handler.js
  backend/types/generated/contentTypes.d.ts
  docs/app-integration-reference.md
  docs/licensing-portal-current-state.md
  frontend/.astro/types.d.ts
  frontend/src/components/customer/dashboard/DashboardIcon.astro
  frontend/src/components/customer/dashboard/HeroSection.astro
  frontend/src/components/customer/dashboard/TrialUrgencyPill.astro
  frontend/src/lib/customer/dashboard/data.ts
  frontend/src/lib/customer/dashboard/hero.ts
  frontend/src/lib/customer/dashboard/init.ts
  frontend/src/lib/customer/dashboard/modals.ts
  frontend/src/lib/customer/dashboard/plans.ts
  frontend/src/lib/customer/dashboard/state.ts
  frontend/src/lib/customer/dashboard/tabs.ts
  frontend/src/lib/customer/dashboard/urgency-pill.ts
  frontend/src/lib/portal/api.ts
  frontend/src/lib/portal/types.ts
  frontend/src/pages/customer/register.astro
  frontend/src/pages/register.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Add documentation for Portal AI API including contract, scope, stages, and smoke tests
  .github/agents/Light Lane AI API.agent.md
  backend/.env.example
  backend/scripts/create-no-entitlement-customer.js
  backend/src/api/ai/controllers/ai.js
  backend/src/api/ai/routes/ai.js
  backend/src/api/ai/services/settings-assistant.js
  backend/src/middlewares/ai-auth.js
  backend/src/middlewares/ai-rate-limit.js
  backend/src/middlewares/customer-auth-ai.js
  backend/src/utils/ai-token.js
  backend/src/utils/audit-logger.js
  backend/tests/ai-no-entitlement.test.js
  backend/tests/ai-token.test.js
  backend/tests/settings-assistant.test.js
  docker-compose.yml
  docs/FILETREE.md
  docs/PORTAL_AI_API_CONTRACT.md
  docs/PORTAL_AI_API_SCOPE.md
  docs/PORTAL_AI_API_STAGES.md
  docs/api/http/stage1-ai-api.http
  docs/app-integration-reference.md
  docs/licensing-portal-current-state.md
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add Engrave Assistant functionality with tests and documentation
  backend/src/api/ai/controllers/ai.js
  backend/src/api/ai/routes/ai.js
  backend/src/api/ai/services/engrave-assistant.js
  backend/src/utils/audit-logger.js
  backend/test-engrave-assistant.sh
  backend/tests/engrave-assistant.test.js
  docs/PORTAL_AI_API_CONTRACT.md
  docs/PORTAL_AI_API_IMPLEMENTED.md
  docs/PORTAL_AI_API_STAGES.md
  docs/api/http/stage3-engrave-assistant.http
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: enhance image processing capabilities in engrave assistant
  backend/package.json
  backend/src/api/ai/controllers/ai.js
  backend/src/api/ai/services/engrave-assistant.js
  backend/src/utils/audit-logger.js
  backend/src/utils/image-downscale.js
  backend/src/utils/image-normalize.js
  backend/tests/engrave-assistant.test.js
  backend/tests/image-downscale.test.js
  backend/tests/image-normalize.test.js
  docs/PORTAL_AI_API_CONTRACT.md
  docs/PORTAL_AI_API_IMPLEMENTED.md
  frontend/.astro/types.d.ts
  pnpm-lock.yaml
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Refactor success page and update pricing utilities; add unified FAQ data
  frontend/src/components/BuyButton.astro
  frontend/src/components/Footer.astro
  frontend/src/components/Header.astro
  frontend/src/data/faq.ts
  frontend/src/data/pricing.ts
  frontend/src/pages/customer/login.astro
  frontend/src/pages/customer/register.astro
  frontend/src/pages/customer/success.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
  frontend/src/pages/success.astro
  frontend/src/utils/sale-dates.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: refactor middleware configuration for better environment handling
  backend/config/middlewares.js
  frontend/.astro/types.d.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: remove global admin-internal middleware
  backend/config/middlewares.js
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: configure CSP to allow Cloudflare Insights scripts
  backend/config/middlewares.js
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: update engrave assistant rules and refine pricing badge styling
  backend/src/api/ai/services/engrave-assistant.js
  frontend/.astro/types.d.ts
  frontend/src/pages/pricing.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Path conditions:
  pnpm dlx eslint@^9 --fix: any of: *.{js,mjs,cjs,ts,tsx}
  pnpm dlx prettier@^3 --write: any of: *.{js,mjs,cjs,ts,tsx,css,md,json}
