Repository fabienbrocklesby/Fullstack-Web-Marketing-Site: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

INIT
  backend/:memory:
  backend/config/admin.js
  backend/config/server.js
  backend/src/api/banner/content-types/banner/schema.json
  backend/src/api/banner/controllers/banner.js
  backend/src/api/banner/routes/banner.js
  backend/src/api/customer/controllers/customer.js
  backend/types/generated/contentTypes.d.ts
  frontend/.astro/settings.json
  frontend/.astro/types.d.ts
  frontend/src/components/Footer.astro
  frontend/src/components/Header.astro
  frontend/src/components/TopBanner.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/contact.astro
  frontend/src/pages/cookies.astro
  frontend/src/pages/customer/register.astro
  frontend/src/pages/index.astro
  frontend/src/pages/join.astro
  frontend/src/pages/pricing.astro
  frontend/src/pages/privacy.astro
  frontend/src/pages/terms.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat(release): add release management API and frontend download buttons
  backend/:memory:
  backend/data/data.db
  backend/src/api/custom/controllers/custom.js
  backend/src/api/release/content-types/release/schema.json
  backend/src/api/release/controllers/release.js
  backend/src/api/release/routes/release.js
  backend/types/generated/contentTypes.d.ts
  frontend/package.json
  frontend/src/components/BuyButton.astro
  frontend/src/components/DownloadButtons.astro
  frontend/src/components/Footer.astro
  frontend/src/components/Header.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/contact.astro
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/customer/login.astro
  frontend/src/pages/customer/register.astro
  frontend/src/pages/customer/success.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
  frontend/src/pages/success.astro
  pnpm-lock.yaml
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat(countdown): add Countdown component and integrate into profile, index, and pricing pages
  backend/data/data.db
  frontend/src/components/Countdown.astro
  frontend/src/pages/customer/profile.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
Due: none

Basic UI Changes + Repo Cleanup
  AFFILIATE_TRACKING_DEBUG.md
  COMPLETE_GUIDE.md
  DEMO_SETUP.md
  DEPLOY_FRONTEND.md
  DEVELOPMENT.md
  FEATURES.md
  INTEGRATION_GUIDE.md
  PROJECT_SUMMARY.md
  backend/data/data.db
  backend/src/api/lead/controllers/lead.js
  decrypt-deactivation-code.cjs
  decrypt-deactivation-code.js
  demo-seeder.cjs
  demo-seeder.js
  demo-verify.cjs
  frontend/.astro/data-store.json
  frontend/.astro/settings.json
  frontend/.astro/types.d.ts
  frontend/src/components/Header.astro
  frontend/src/pages/index.astro
  launch-codes.csv
  list-pending-users.js
  quick-test-license.js
  quick-test.cjs
  reset-license-10.js
  test-activation-complete.cjs
  test-activation-complete.js
  test-activation-endpoint.cjs
  test-activation-endpoint.js
  test-activation.js
  test-affiliate-login.html
  test-affiliate-tracking.sh
  test-integration.sh
  test-login.html
  test-offline-activation.html
  test-security-fix.cjs
  unblock-user.js
  verify-deactivation.js
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Prepare for Dokploy deployment: remove nginx, optimize Dockerfiles, and update documentation
  .dockerignore
  .env.example
  .eslintrc.js
  .eslintrc.json
  .github/workflows/deploy.yml
  .gitignore
  .prettierrc.js
  .prettierrc.json
  DEPLOYMENT.md
  DOCKER-SETUP.md
  DOKPLOY-SETUP.md
  Dockerfile.backend
  Dockerfile.frontend
  PRE-PUSH-CHECKLIST.md
  QUICKSTART.md
  README.md
  backend/config/database.js
  backup-uploads.sh
  backup.sh
  docker-compose.yml
  ecosystem.config.cjs
  frontend/package.json
  frontend/src/components/Header.astro
  setup-integration.sh
  setup.sh
  verify-backups.sh
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Attempted fix
  Dockerfile.backend
Due: none

Frontend fix
  Dockerfile.frontend
Due: none

ENV Fixes
  Dockerfile.frontend
  frontend/src/config/strapi.ts
  frontend/src/layouts/Layout.astro
  frontend/src/pages/[slug].astro
  frontend/src/pages/contact.astro
  frontend/src/pages/license-portal.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Remove frontend .env file causing localhost:1337 override
  frontend/.astro/types.d.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Add default value for PUBLIC_STRAPI_URL build arg
  Dockerfile.frontend
Due: none

Fix
  frontend/src/config/strapi.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: restore pricing.astro page that was accidentally replaced with Layout content
  frontend/src/pages/pricing.astro
Due: none

Pricing
  frontend/src/pages/pricing.astro
Due: none

feat: add internal license generator page
  .gitignore
  Dockerfile.backend.dev
  Dockerfile.frontend.dev
  QUICKSTART.md
  README.md
  backend/package.json
  backend/src/api/customer/controllers/customer.js
  backend/src/api/license-key/content-types/license-key/lifecycles.js
  backend/src/api/license-key/content-types/license-key/schema.json
  backend/src/utils/license-linker.js
  backend/tests/license-linker.test.js
  backend/types/generated/components.d.ts
  backend/types/generated/contentTypes.d.ts
  docker-compose.dev.yml
  docker/dev/entrypoint.backend.sh
  docker/dev/entrypoint.frontend.sh
  frontend/.astro/data-store.json
  frontend/src/pages/internal/license-generator.astro
  pnpm-lock.yaml
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Add site manifest and pricing data for Lightlane software
  README.md
  frontend/public/appicon_preview.png
  frontend/public/apple-touch-icon.png
  frontend/public/icon-192.png
  frontend/public/icon-512.png
  frontend/public/og-lightlane.png
  frontend/public/robots.txt
  frontend/public/site.webmanifest
  frontend/src/components/Footer.astro
  frontend/src/data/pricing.ts
  frontend/src/layouts/Layout.astro
  frontend/src/pages/blog/[slug].astro
  frontend/src/pages/blog/index.astro
  frontend/src/pages/contact.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Update frontend/src/pages/index.astro
  frontend/src/pages/index.astro
Due: none

Update frontend/src/pages/pricing.astro
  frontend/src/pages/pricing.astro
Due: none

feat: implement custom sitemap generation and remove auto integration
  README.md
  frontend/astro.config.mjs
  frontend/package.json
  frontend/src/pages/sitemap-blog.xml.ts
  frontend/src/pages/sitemap-index.xml.ts
  frontend/src/pages/sitemap-pages.xml.ts
  frontend/src/pages/sitemap-static.xml.ts
  frontend/src/pages/sitemap.xml.ts
  frontend/src/utils/sitemap-data.ts
  frontend/src/utils/sitemap.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: format sitemap XML output for better readability
  frontend/src/utils/sitemap.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add PUBLIC_DOWNLOAD_VERSION to environment configurations and update download links in components
  frontend/.env.example
  frontend/src/components/DownloadButtons.astro
  frontend/src/components/Header.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/license-portal.astro
  frontend/src/pages/login.astro
  frontend/src/pages/register.astro
  frontend/wrangler.toml
Due: none

fix: update Founders offer deadline to October 31 in pricing data and related components
  frontend/src/data/pricing.ts
  frontend/src/pages/customer/profile.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: improve formatting and readability in pricing and profile components
  frontend/src/data/pricing.ts
  frontend/src/pages/customer/profile.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: update Founders pricing countdown target to October 31
  frontend/src/pages/index.astro
Due: none

fix: standardize dash usage in text across multiple components
  backend/create-activation-codes.js
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/customer/register.astro
  frontend/src/pages/index.astro
  frontend/src/pages/internal/license-generator.astro
  frontend/src/pages/join.astro
  frontend/src/pages/pricing.astro
  frontend/src/pages/success.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: disable caching for fresh data fetch and update prerendering settings in blog pages
  frontend/src/lib/strapi.ts
  frontend/src/pages/blog/index.astro
  frontend/src/pages/blog/page/[page].astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: improve formatting for better readability in Strapi helper and blog index
  frontend/src/lib/strapi.ts
  frontend/src/pages/blog/index.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: enhance Strapi initialization checks and improve environment variable handling for CMS URL and token
  backend/config/bootstrap.js
  docker-compose.yml
  frontend/src/lib/strapi.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: enhance mobile menu toggle functionality and improve accessibility attributes
  frontend/src/components/Header.astro
Due: none

fix: improve environment variable handling for CMS URLs and enhance media URL management
  frontend/src/lib/strapi.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: add cover image URL and alt attributes to blog post schema and update extraction logic
  backend/src/api/blogpost/content-types/blogpost/schema.json
  frontend/src/lib/strapi.ts
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: add cover image URL and alt attributes to blog post schema
  backend/src/api/blogpost/content-types/blogpost/schema.json
Due: pnpm dlx prettier@^3 --write

fix: add Clarity tracking script to layout for enhanced user analytics
  frontend/src/layouts/Layout.astro
Due: none

fix: add Google Tag Manager script for enhanced tracking and analytics
  frontend/src/layouts/Layout.astro
Due: none

fix: update Founders pricing deadline to December 1 across relevant components
  frontend/src/data/pricing.ts
  frontend/src/pages/customer/profile.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

fix: add 'education' license type to the license generator
  frontend/src/pages/internal/license-generator.astro
Due: none

fix: refactor header rendering to be handled by Layout.astro across all pages
  frontend/src/components/Header.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/404.astro
  frontend/src/pages/[slug].astro
  frontend/src/pages/blog/[slug].astro
  frontend/src/pages/blog/index.astro
  frontend/src/pages/blog/page/[page].astro
  frontend/src/pages/contact.astro
  frontend/src/pages/index.astro
  frontend/src/pages/join.astro
  frontend/src/pages/pricing.astro
  frontend/src/pages/success.astro
Due: none

feat: implement download modal component and integrate with layout for user access
  frontend/src/components/Countdown.astro
  frontend/src/components/DownloadModal.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
  frontend/src/styles/app.css
Due: pnpm dlx prettier@^3 --write

fix: standardize hyphen usage in various messages and comments
  backend/config/middlewares.js
  backend/src/api/contact-message/controllers/contact-message.js
  backend/src/api/customer-invite/controllers/customer-invite.js
  backend/src/api/enquiry/controllers/enquiry.js
  backend/src/api/license-key/controllers/license-key.js
  backend/src/utils/mailer.js
  frontend/src/layouts/Layout.astro
  frontend/src/pages/contact.astro
  frontend/src/pages/cookies.astro
  frontend/src/pages/customer/dashboard.astro
  frontend/src/pages/customer/login.astro
  frontend/src/pages/eula.astro
  frontend/src/pages/index.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add cover image fields to ApiBlogpostBlogpost interface and update Affiliate link to mailto format in Footer
  backend/types/generated/contentTypes.d.ts
  frontend/src/components/Footer.astro
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

feat: add HolidayDecor component with animated holiday lights
  .github/instructions/daisyui.instructions.md
  frontend/.astro/types.d.ts
  frontend/src/components/HolidayDecor.astro
  frontend/src/data/pricing.ts
  frontend/src/pages/customer/profile.astro
  frontend/src/pages/index.astro
  frontend/src/pages/pricing.astro
  frontend/src/styles/app.css
  pnpm-lock.yaml
Due: pnpm dlx eslint@^9 --fix, pnpm dlx prettier@^3 --write

Path conditions:
  pnpm dlx eslint@^9 --fix: any of: *.{js,mjs,cjs,ts,tsx}
  pnpm dlx prettier@^3 --write: any of: *.{js,mjs,cjs,ts,tsx,css,md,json}
